In [1]:
import os
import numpy as numpy
import matplotlib.pyplot as plt
import cv2
import pandas as pd
import random
from tqdm import tqdm

In [262]:
path = '/home/saurav/Sowmen_DL/Image_Manipulation_Dataset'
os.listdir(path)

['CASIA_2.0', 'IMD2020', 'imd2020.csv', 'csv', 'datagen.csv']

In [304]:
imdlabel = []

In [305]:
imd_link = '/home/saurav/Sowmen_DL/Image_Manipulation_Dataset/IMD2020'
pair = []
img_l = []
mask_l = []
for folders in os.listdir(imd_link):
  for strings in os.listdir(imd_link + '/' + folders):
    #print(strings)
    if 'mask' in strings:
      #pair.append((folders + '/' + strings[: len(strings) - 9] + '.png', folders + '/' + strings))
      img_l.append(folders + '/' + strings[: len(strings) - 9] + '.png')
      mask_l.append( folders + '/' + strings)
      imdlabel.append(1)
    elif "_orig" in strings: 
      img_l.append(folders + '/' + strings)
      #print(folders + '/' + strings)
      mask_l.append(None)
      imdlabel.append(0)

In [306]:
print(len(imdlabel))

1361

In [307]:
df = pandas.DataFrame(data={"image": img_l, "mask": mask_l, "label" : imdlabel})
df.to_csv("./imd2020.csv", sep=',',index=False)

In [124]:
print(df.head())

Image link                  Mask link
0  1c2ojm/c9con3s_0.png  1c2ojm/c9con3s_0_mask.png
1  1c2ojm/c9clhtf_0.png  1c2ojm/c9clhtf_0_mask.png
2  1c2ojm/c9coynw_0.png  1c2ojm/c9coynw_0_mask.png
3  1c2ojm/c9cm824_0.png  1c2ojm/c9cm824_0_mask.png
4  1c2ojm/c9chqo0_0.png  1c2ojm/c9chqo0_0_mask.png

In [128]:
clean = 0
corrupted = 0
for i in range(len(dataframe)):
    img = cv2.imread(imd_path + '/' + dataframe.loc[i]['Image link'])
    mask = cv2.imread(imd_path + '/' + dataframe.loc[i]['Mask link'])
    if(img.shape[2] == 3 and mask.shape[2] == 3):
        clean += 1
    else:
        corrupted += 1

print(str(clean) + " " + str(corrupted))

1153 0

In [265]:
dataframe = pandas.read_csv(path + '/datagen.csv')

In [266]:
dataframe.head()

,Unnamed: 0,label,image,mask,Percentage
0,0,1,Tp_S_NNN_S_N_sec00065_sec00065_10383.tif,Tp_S_NNN_S_N_sec00065_sec00065_10383_gt.png,1.916504
1,1,0,Au_art_00013.jpg,NaN,0.000000
2,2,0,Au_nat_20082.jpg,NaN,0.000000
3,3,1,Tp_D_CRN_S_N_cha00036_art00076_11740.jpg,Tp_D_CRN_S_N_cha00036_art00076_11740_gt.png,1.494344
4,4,0,Au_pla_30191.jpg,NaN,0.000000

In [267]:
tp_link = path + '/CASIA_2.0/Tp'
gt_link = path + '/CASIA_2.0/Gt'

In [268]:
fold = os.listdir(tp_link)
print(len(fold))

5124

In [269]:
fold1 = os.listdir(gt_link) #.png --- all of them
print(len(fold1))

5123

In [181]:
print(fold[0])
print(fold1[0])
dict = {}

Tp_S_NNN_S_B_art00042_art00042_01412.tif
Tp_D_NRN_M_N_sec10112_art00098_10343_gt.png

In [176]:
print(dict)

{'.tif': 1, '.jpg': 1, '.txt': 1}

In [270]:
G = []
I = []
for i in range(len(fold1)):
    str = fold1[i][ : len(fold1[i]) - 7]
    if str + '.tif' in fold:
        I.append(str + '.tif')
        G.append(fold1[i])
    if str + '.jpg' in fold:
        I.append(str + '.jpg')
        G.append(fold1[i])

In [285]:
print(len(I))
print(len(G))

5120
5120

In [287]:
x = 0
y = 0

images = []
masks = []

for i in range(len(I)):
    img = cv2.imread(tp_link + '/' + I[i])
    mask = cv2.imread(gt_link + '/' + G[i])
    if i == 1299:
        continue
    if img.shape == mask.shape:
        dims = img.shape
        if dims[1] > 0 and dims[0] > 0 and dims[2] > 0:
            images.append('Tp/' + I[i])
            masks.append('Gt/' + G[i])
        x += 1
    else:
        y += 1
       

print(x)
print(y)

5102
17

In [288]:
print(len(images))
print(len(masks))
print(path)
#print(os.listdir(path))

5102
5102
/home/saurav/Sowmen_DL/Image_Manipulation_Dataset

In [289]:
print(path)
os.listdir(path)

/home/saurav/Sowmen_DL/Image_Manipulation_Dataset

['CASIA_2.0', 'IMD2020', 'imd2020.csv', 'csv', 'datagen.csv']

In [279]:
d = pandas.read_csv(path + '/datagen.csv')
d.head()

,Unnamed: 0,label,image,mask,Percentage
0,0,1,Tp_S_NNN_S_N_sec00065_sec00065_10383.tif,Tp_S_NNN_S_N_sec00065_sec00065_10383_gt.png,1.916504
1,1,0,Au_art_00013.jpg,NaN,0.000000
2,2,0,Au_nat_20082.jpg,NaN,0.000000
3,3,1,Tp_D_CRN_S_N_cha00036_art00076_11740.jpg,Tp_D_CRN_S_N_cha00036_art00076_11740_gt.png,1.494344
4,4,0,Au_pla_30191.jpg,NaN,0.000000

In [290]:

label = [1 for i in range(len(masks))]

In [292]:
for i in range(len(df)):
    if df.loc[i]['label'] == 0:
        var = None
        images.append('Au/' + df.loc[i]['image'])
        #print(df.loc[i]['image'])
        masks.append(var)
        label.append(0)

In [293]:
print(len(df))
print(len(label))

12621
12603

print(len(df))

In [294]:
dataframe = pandas.DataFrame(data={"image": images, "mask": masks, 'label' : label})
dataframe.to_csv("casia2.csv",index=False)

In [295]:
dataframe.tail()

                     image  mask  label
12598  Au/Au_sec_30356.jpg  None      0
12599  Au/Au_ani_30495.jpg  None      0
12600  Au/Au_sec_30020.jpg  None      0
12601  Au/Au_ani_30667.jpg  None      0
12602  Au/Au_arc_30494.jpg  None      0

In [296]:
dataframe.head()

,image,mask,label
0,Tp/Tp_D_NRN_M_N_sec10112_art00098_10343.tif,Gt/Tp_D_NRN_M_N_sec10112_art00098_10343_gt.png,1
1,Tp/Tp_D_NRN_S_N_sec00023_sec00022_10807.jpg,Gt/Tp_D_NRN_S_N_sec00023_sec00022_10807_gt.png,1
2,Tp/Tp_S_CRN_M_N_art00066_art00066_10473.tif,Gt/Tp_S_CRN_M_N_art00066_art00066_10473_gt.png,1
3,Tp/Tp_D_NRD_S_B_sec00010_cha00071_00030.tif,Gt/Tp_D_NRD_S_B_sec00010_cha00071_00030_gt.png,1
4,Tp/Tp_S_CNN_S_N_sec20015_sec20015_01605.tif,Gt/Tp_S_CNN_S_N_sec20015_sec20015_01605_gt.png,1

In [5]:
casia_df = pd.read_csv('casia2.csv')
casia_df.head()

,image,mask,label
0,Tp/Tp_D_NRN_M_N_sec10112_art00098_10343.tif,Gt/Tp_D_NRN_M_N_sec10112_art00098_10343_gt.png,1
1,Tp/Tp_D_NRN_S_N_sec00023_sec00022_10807.jpg,Gt/Tp_D_NRN_S_N_sec00023_sec00022_10807_gt.png,1
2,Tp/Tp_S_CRN_M_N_art00066_art00066_10473.tif,Gt/Tp_S_CRN_M_N_art00066_art00066_10473_gt.png,1
3,Tp/Tp_D_NRD_S_B_sec00010_cha00071_00030.tif,Gt/Tp_D_NRD_S_B_sec00010_cha00071_00030_gt.png,1
4,Tp/Tp_S_CNN_S_N_sec20015_sec20015_01605.tif,Gt/Tp_S_CNN_S_N_sec20015_sec20015_01605_gt.png,1

In [27]:
data = []

In [28]:
ROOT = 'Image_Manipulation_Dataset/CASIA_2.0/image_patch_128'

for idx, row in tqdm(casia_df.iterrows()):
    image = row['image'].split('/')[-1].split('.')[0]
    
    files = [x for x in os.listdir(os.path.join(ROOT,image)) if not x.endswith('.txt')]
    
    if(row['label'] == 1):
        for i in range(0, len(files)//2):
            if( os.path.exists(os.path.join(ROOT,image,f'{i}.png')) and
                os.path.exists(os.path.join(ROOT,image,f'{i}_gt.png'))
            ):
                data.append({
                    'image' : image,
                    'image_patch' : f'{i}.png',
                    'mask_patch' : f'{i}_gt.png',
                    'label' : 1
                })
    else:
        for i in range(0, len(files)):
            if( os.path.exists(os.path.join(ROOT,image,f'{i}.png'))):
                data.append({
                    'image' : image,
                    'image_patch' : f'{i}.png',
                    'mask_patch' : '',
                    'label' : 0
                })

12593it [00:02, 6087.40it/s]

In [29]:
casia_new_df = pd.DataFrame(data)
casia_new_df.head()

                                  image image_patch mask_patch  label
0  Tp_D_NRN_S_N_sec00023_sec00022_10807       0.png   0_gt.png      1
1  Tp_D_NRN_S_N_sec00023_sec00022_10807       1.png   1_gt.png      1
2  Tp_D_NRN_S_N_sec00023_sec00022_10807       2.png   2_gt.png      1
3  Tp_S_CRN_M_N_art00066_art00066_10473       0.png   0_gt.png      1
4  Tp_S_CRN_M_N_art00066_art00066_10473       1.png   1_gt.png      1

In [30]:
casia_new_df.to_csv('casia_128.csv', index=False)

In [31]:
imd_df = pd.read_csv('imd2020.csv')
imd_df.label.value_counts()

1    1153
0     208
Name: label, dtype: int64